.border-5 {
  border-width: 5px !important;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
}
