.container {
    @media screen and (max-width: 1200px) {
        width: 90%;
    }

    /* For container > h2. Not for container > row > col-md-9 > h2 */
    >h2 {
        @media screen {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 21px;
        }
    }
}

@media (max-width: 768px) {
    #banner {
        width: 100%;
        padding: 0;

        h1 {
            font-size: 30px
        }
    }

    .jumbotron {
        height: 100px;
        padding-top: 15px
    }
}

tr {
    th {
        font-size: 14px;
        font-weight: bold;
    }
    td {
        font-size: 14px;
    }
}

.lead {
    span {
        font-weight: bold;
    }
}

address {
    li {
        @media screen {
            font-size: 20px;
        }

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
}

well {
    display: flex;
    align-items: center;
}
